<configuration>
  <appSettings>
    <add key="packetFilter" value="ip and tcp and host 10.24.2.3 and (dst port 80 or dst port 8100)"/>
    <add key="AggregatorIP" value="10.24.2.3"/>
    <add key="PNCIP" value="10.24.2.181"/>
    <add key="AggPort" value="80"/>
    <add key="PncPort" value="8100"/>
  </appSettings>
</configuration>

